<div align="center">
    <h3> View Book Details</h3>
    
    </div>
    <br>
    <div align="center">
    <table border="1">    
        <thead>                
          <tr> 
               <th> ID </th>
               <th> Name</th>
               <th> Price</th>
          </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let book of bookdetails" >
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.price}}</td>
        </tr>
    </tbody>    
    </table>
    </div>